

.banner {
  margin-top: 0%;
  padding: 100px 0; /* Adjust the top and bottom padding */
  background:linear-gradient(90.21deg, rgba(233, 225, 230, 0.5) -5.91%, rgba(209, 202, 238, 0.5) 111.58%);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.2vh; /* Set the height of the banner to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
}
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(123, 72, 199, 0.5); 
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block ;
    color: rgb(0, 0, 0);
    border-radius: 5%;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: rgb(89, 37, 188)
  }
  .banner p {
    color: hsl(0, 0%, 0%);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    font-weight: bold;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: zoominout 3s linear infinite;
  }
  
  
  @keyframes zoominout {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1); 
    }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }